<div *ngIf="owner" class="content-message right-content">
    <p [ngStyle]="{'background-color': colorBackRight, 'color': colorFontRight}">
        {{text}}
    </p>
    <br>
    {{date}}
    <p><br></p>
  </div>
<div *ngIf="!owner" class="content-message left-content">
    <p><br></p>
    <p [ngStyle]="{'background-color': colorBackLeft, 'color': colorFontLeft}" class="fancy-text-left">
        {{text}}
      </p>
      <br>
    <span class="fancy-date-info-left">
      {{date}}
    </span>
</div>
