.content-message {
  width: 80%;
}

.right-content {
  text-align: right;
}

p {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

.fancy-date-info-left {
  padding-left: 1em
}

.fancy-text-left {
  margin-top: 2em
}

.fancy-text-left {
  margin-top: 2em
}
