<footer>

  <p><br></p>
  <hr>
  <p><br></p>

  <h1>
    {{titleShort}}
  </h1>
  <h6>
    powered by <a target="_blank" href="https://fance-fitness.com"> fance-fitness.com</a>
  </h6>

  <p><br></p>
  <hr>
  <p><br></p>

  Diese Seite befindet sich im Aufbau. Feedback ist jederzeit willkommen.

  <p></p>
  <br> KEINE ABMAHNUNG OHNE <a (click)="clickContact()" style="color: blue">KONTAKT</a>
  <p></p>
  <br> Sollte der Inhalt fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen, informieren Sie mich
  ohne Kostennote.
  Ich garantiere, dass die zu Recht beanstandeten Passagen unverzüglich entfernt werden, ohne dass von Ihrer
  Seite
  die Einschaltung eines Rechtsbeistandes erforderlich ist. Dennoch von Ihnen ohne vorherige Kontaktaufnahme
  ausgelöste
  Kosten werden im Sinne der Schadensminderungspflicht zurückgewiesen und gegebenenfalls wird Gegenklage wegen
  Verletzung vorgenannter Bestimmungen eingereicht.

  <hr>