<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div *ngIf="isUserAFriend">
  <br />
  Mit diesem Link kannst Du Freunde einladen: <br />
  <a href="{{ getChatLink() }}">{{ getChatLink() }}</a>
  <p></p>
  <!-- Bitte halte Dich an die <a target="_blank" href="">Regeln</a>  dieser Plattform. -->
  <div [ngStyle]="{ width: width, height: height, border: border }">
    <div *ngIf="chat" class="list-messages" id="melissa">
      <div *ngFor="let message of chat.messages">
        <br />
        <div style="margin-top: 1em">

        <div *ngIf="chat.messages.indexOf(message)%2===0" style="background-color: #333; color: white; padding: 1em; margin: 1em">
              {{ message.text }}
          </div>
          <div *ngIf="chat.messages.indexOf(message)%2===1" style="background-color: #ff0066; color: white; padding: 1em; margin: 1em">
              {{ message.text }}
          </div>
          {{ message.date }}
        </div>
        <p></p>
      </div>
    </div>

    <div *ngIf="chat" class="input-message">
      <textarea
        class="input-text-message"
        [(ngModel)]="textInput"
        placeholder="Bitte seid lieb zueinander :)"
        (keyup)="onKey($event)"
        autofocus
      ></textarea>
      <span class="fancy-send-symbol">
        <i
          class="fa fa-paper-plane fa-2x input-send fancy-send-symbol"
          aria-hidden="true"
          (click)="sendTextInput()"
        ></i>
      </span>
    </div>
  </div>
</div>
