  .list-messages {
    height: 88%;
    width: 100%;
    overflow: auto;
  }
  .input-message {
    border-top: 2px solid grey;
    height: 12%;
    width: 100%
  }

  .input-text-message {
    padding-top: 1em;
    padding-left: 0.85em;
    height: 100%;
    width: 80%;
  }

  .input-send {
    color: #007bff;
    position: relative;
    left: 7px;
    top: -22px;
  }
