<app-navbar></app-navbar>

<div *ngIf="mode === 'specific'" class="fancyChat">
  <app-fancy-chat-box
    [colorBackRight]="'#333'"
    [colorFontRight]="'white'"
    [colorBackLeft]="'#333'"
    [colorFontLeft]="'white'"
    [width]="'90%'"
    [height]="'500px'"
    [border]="'1px solid black'"
    [chatId]=chatId
  ></app-fancy-chat-box>
</div>

<div *ngIf="infoToUser!==''"  class="container">
<h3 class="title">
    {{ infoToUser }}
  </h3>
</div>
<div *ngIf="mode === 'common' && this.infoToUser === ''" class="container">
  <h3 class="title">Fancy Chats<br /></h3>
  <h5 class="infoToUser">
    Diese Plattform bietet einen allgemeinen Chat Service.
    <p></p>
    <br />
    Dieser wird typischerweise von verschiedenen Event Plattformen genutzt.
    <p><br /></p>
    Allen voran natürlich vom
    <a href="https://dance-planner.de">https://dance-planner.de</a>.
  </h5>
</div>
